<form class="form" role="form" method="POST" action="/reset" [formGroup]="resetForm" (ngSubmit)="onReset($event, resetForm.value)">
  <fieldset>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
        <input id="emailInput" formControlName="email" placeholder="you@example.com" class="form-control" type="text" required>
      </div>
      <validation-messages class="text-left" [control]="resetForm.controls.email"></validation-messages>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!resetForm.valid">Send My Password</button>
    </div>
  </fieldset>
</form>