<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <input type="text" placeholder="First Name" formControlName="firstName">

  <div formArrayName="sections">
      <h6>Section Details</h6>
      <div class="section-container" *ngFor="let section of sections; let i = index">
        <div class="ui raised segments" [formGroupName]="i">
          <input type="text" placeholder="Title" formControlName="title">
          <input type="text" placeholder="Description" formControlName="description">
        </div>
      </div>
  </div>

  <button (click)="addSection()" class="point">Add Section </button>
  <button type="submit">Save</button>
</form>