<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div formArrayName="sections">
      <h4>Section Details</h4>
      <div class="section-container" *ngFor="let section of getSections(form); let i = index">
        <div class="ui raised segments" [formGroupName]="i">
          <input type="text" placeholder="Untitled form" formControlName="title">
          <input type="text" placeholder="Form Description" formControlName="description">
        </div>
      </div>
  </div>

  <button (click)="addSection()" class="point">Add Section </button>
  <button type="submit">Save</button>
</form>