<ul class="navbar-nav mr-auto">
  <li class="nav-item">
      <i class="fa fa-home fa-2x float-left"></i>
      <a class="nav-link" [routerLink]=" ['./']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Home</a>
  </li>
  <li class="nav-item">
      <i class="fa fa-star fa-2x float-left"></i>
      <a class="nav-link" [routerLink]=" ['./profile']" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Profile</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-loading-indicator></app-loading-indicator>