.fixed-top {
  border-bottom: 1px solid #999;
  a{
    color: white;
  }
} 
.main{
  background-image: url('./../assets/header.jpg');
  background-size: cover; 
  h1, h4, span, p{
    color: white;
  }
}