

<div class="container-fluid p-0 m-0 fixed-top">
  <ul class="nav bg-dark text-white">
    <li class="nav-item" data-menuanchor="menuAnchor1">
      <a class="nav-link active" href="#menuAnchor1">First section</a>
    </li>
    <li class="nav-item" data-menuanchor="menuAnchor2">
      <a class="nav-link" href="#menuAnchor2">Second section</a>
    </li>
    <li class="nav-item" data-menuanchor="menuAnchor3">
      <a class="nav-link" href="#menuAnchor3">Third section</a>
    </li>
    <li class="nav-item" data-menuanchor="menuAnchor4">
      <a class="nav-link" href="#menuAnchor4">Fourth section</a>
    </li>
  </ul>
</div>

<div class="container-fluid p-0 m-0" mnFullpage [mnFullpage]="options">

  <section class="section" data-anchor="menuAnchor1">
    <div class="fp-tableCell container centered">
      <h1>Angular X fullPage.js</h1>
      <h4>Create Beautiful Fullscreen Scrolling Websites (now with Angular 2 and above)!</h4>
      <img class="logo-image" src="https://raw.githubusercontent.com/meiblorn/ng2-fullpage/develop/logo.png">
    </div>
  </section>

  <section class="section" data-anchor="menuAnchor2">
    <div class="fp-tableCell container">
      <h1>Easy to install !</h1>
      <div class="code-block">
        sdfsdf
      </div>
    </div>
  </section>

  <section class="section" data-anchor="menuAnchor3">
    <div class="fp-tableCell container">
      <h1>Easy to install !</h1>
      <div class="code-block">
          <span class="counter">1,234,567</span>
      </div>
    </div>
  </section>

  <section class="section" data-anchor="menuAnchor4">
    <div class="fp-tableCell container">
      <pre [innerHTML]="config"></pre>
    </div>
  </section>

</div>