<div>
  <h1>ngx-charts test</h1>

  <ngx-charts-bar-vertical
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">

    <ng-template #tooltipTemplate let-model="model">
      <h1>
        tooltip
      </h1>
      <h2>{{model.name}}</h2>
    </ng-template>

  </ngx-charts-bar-vertical>
</div>